<% include ../home/header %>
    <div class="container">
      <div >
        <h1 >Cadastro de usuario</h1>        
      </div>
      

      <div class="row">    
       <form method="post" action="/usuario/usuarios" class="col-xs-10">
       	  <label>Nome :</label>
       	  <input class="form-control" type="text" name="nome"/>
       	  <label>Email :</label>
       	  <input class="form-control" type="email" name="email" />
       	  <label>Login :</label>
       	  <input class="form-control" type="text" name="login" />
       	  <label>Senha :</label>
       	  <input class="form-control" type="password" name="senha" />
       	  <br/>
       	  <button type="submit" class="btn btn-success">Cadastro</button>         
       	  <a href="/usuario/usuarios" type="btn" class="btn btn-danger">Sair</a>
       </form>
          

      </div><!-- /.row -->

    </div><!-- /.container -->
<% include ../home/footer %>
   